* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
}

.top-section {
    padding: 30px;
    background-color: black;
    color: whitesmoke;
}

#whiteGold, #gold, #silver {
    padding: 20px;
}
